/* CSS Document */

body {
	margin: 0;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.6;
	color: #FFFFFF;
	text-align: justify;
	text-decoration: none;
	text-indent: 3px;
	letter-spacing: normal;
	word-spacing: normal;
	text-shadow: 1px 2px 2px black;
    background-image: -webkit-linear-gradient(27deg,rgba(38,5,88,1.00) 0%,rgba(28,2,33,0.99) 100%);
	background-image: -moz-linear-gradient(27deg,rgba(38,5,88,1.00) 0%,rgba(28,2,33,0.99) 100%);
	background-image: -o-linear-gradient(27deg,rgba(38,5,88,1.00) 0%,rgba(28,2,33,0.99) 100%);
	background-image: linear-gradient(63deg,rgba(38,5,88,1.00) 0%,rgba(28,2,33,0.99) 100%);
	background-size: 5500px 5500px;
	background-clip: border-box;
}

h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0}

.header {
	width: 100%;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.nav {
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.dropbtn {
	background-image: -webkit-linear-gradient(0deg,rgba(56,8,81,1.00) 0%,rgba(21,12,67,1.00) 100%);
	background-image: -moz-linear-gradient(0deg,rgba(56,8,81,1.00) 0%,rgba(21,12,67,1.00) 100%);
	background-image: -o-linear-gradient(0deg,rgba(56,8,81,1.00) 0%,rgba(21,12,67,1.00) 100%);
	background-image: linear-gradient(90deg,rgba(56,8,81,1.00) 0%,rgba(21,12,67,1.00) 100%);
	color: #8C8C8C;
	padding: 20px;
	font-size: 16px;
	border: hidden;
	border-bottom-right-radius: 10px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.dropbtn:hover {
	background-image: -webkit-linear-gradient(0deg,rgba(55,4,81,1.00) 0%,rgba(33,18,110,1.00) 100%);
	background-image: -moz-linear-gradient(0deg,rgba(55,4,81,1.00) 0%,rgba(33,18,110,1.00) 100%);
	background-image: -o-linear-gradient(0deg,rgba(55,4,81,1.00) 0%,rgba(33,18,110,1.00) 100%);
	background-image: linear-gradient(90deg,rgba(55,4,81,1.00) 0%,rgba(33,18,110,1.00) 100%);
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)		
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000002;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #5f61d3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	color: white;
	background-color: #67016c;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;}

.dropdown:hover .dropdown-content {
    display:block;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.translate {
	position: relative;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	height: 58px;
	max-width: 89px;
	border-radius: 12px;
	border: solid rgba(74,5,184,1.00) 2px;
	margin-right: 25px;
	padding: 0px;
	background-color: blue;
	
}

.translate:hover {
	position: relative;
	height: 58px;
	max-width: 89px;
	border-radius: 12px;
	border: solid rgba(74,5,184,1.00) 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-right: 25px;
	padding: 0px;
	background-color: blue;
}
.icon-translate {
	height: 55px;
	max-width: 87px;
	border-radius: 10px;
	margin-right: 25px;
	padding: 0px;
}

.light {
	position: relative;
	height: 35px;
	width: 55px;
	border-radius: 10px;
	padding: 0px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	background-color: black;
	color: aliceblue;
	background-image: -webkit-linear-gradient(90deg,rgba(185,66,245,1.00) 0%,rgba(87,55,251,1.00) 100%);
}

.light:hover {
	position: relative;
	height: 35px;
	width: 55px;
	border-radius: 10px;
	padding: 0px;
	background-color: white;
	color: black;
	background-image: -webkit-linear-gradient(27deg,rgba(38,5,88,1.00) 0%,rgba(28,2,33,0.99) 100%);
}

.light-dark {
	height: 30px;
	width: 50px;
	border-radius: 10px;
}

.header-content {
	display: flex;
	margin-top: 110px;
	padding-left: 93px;
	padding-right: 93px;
	justify-content:space-between;
	align-items: center;
}

.photo-sign {
	display: block;
}
.main-photo {
	height: 405px;
	max-width: 600px;
	border-radius: 50px;
}

.photo {
	height: 400px;
	max-width: 600px;
	border-radius: 50px;
	box-shadow: 5px 3px 5px rgba(206,182,221,1.00);
}

.main-text {
	height: 350px;
	width: 600px;
	max-width: 600px;
	border-style: groove;
	border-color:midnightblue;
	border-width: 3px;
	border-radius: 50px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	box-shadow: 5px 5px 5px rgba(206,182,221,1.00);
	margin-left: 30px;
	background-color: #022727;

}

.text {
	color: #c9c1bd;
	text-shadow: 0px 0px 0px black;
	text-align: center;
}

.text1 {
	color: #c9c1bd;
	text-shadow: 0px 0px 0px black;
	text-align: justify;
}
.signature {
	position: relative;
	width: 300px;
	border-style: groove;
	border-color: midnightblue;
	border-width: 3px;
	border-radius: 50px;
	box-shadow: 5px 5px 5px rgba(206,182,221,1.00);
	background-color: #022727;
	font-size: 18px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 15px auto;
}

.about {
	text-align: center;
	color: #c9c1bd;
	text-shadow: 0px 0px 0px black;
}

.head-page {
	width: auto;
	height: 150px;
	margin-top: 20px;
}

.h1 {
	text-decoration: bold;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 2px purple;
}

.sert {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.sert1 {
	width: 400px;
	height: 550px;
	margin-left: auto;
}

.sert2 {
	width: 400px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
}

.sert3 {
	width: 400px;
	height: 550px;
	margin-right: auto;
}

.hob {
	margin: 30px 200px;
}

.hob1 {
	display: flex;
	justify-content:space-between;
	align-items: center;
	padding-right: 500px;
}

.hob2 {
	display: flex;
	justify-content:space-between;
	align-items: center;
	margin-left: 50px;
	padding-left: 500px;
}

.hob3 {
	display: flex;
	justify-content:space-between;
	align-items: center;
	margin-right: 50px;
	padding-right: 500px;
}
.img-hob {
	height: 200px;
	max-width: 250px;
	margin: 0 50px;
	border-radius: 50px;
}

.hob-text {
	height: 120px;
	width: 600px;
	max-width: 600px;
	border-style: groove;
	border-color:midnightblue;
	border-width: 3px;
	border-radius: 35px;
	padding: 20px;
	background-color: #022727;
	color: #c9c1bd;
	text-shadow: 0px 0px 0px black;
}

.hob-text-2{
	height: 120px;
	width: 600px;
	max-width: 600px;
	border-style: groove;
	border-color:midnightblue;
	border-width: 3px;
	border-radius: 35px;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #022727;
	color: #c9c1bd;
	text-shadow: 0px 0px 0px black;
}
